language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc
      dist: trusty
      sudo: required
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - attr
            - fuse
            - libfuse-dev
            - libpcre-dev
            - libxml2-dev

script:
  - make
